name: CI
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  release:
    types:
      - published
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install dependencies
        uses: bahmutov/npm-install@v1
      - name: Run CI checks
        run: npm run ci
      - name: Publish to npm
        if: ${{ github.event_name == 'release' }}
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        run: |
          npm config set //registry.npmjs.org/:_authToken $NPM_AUTH_TOKEN
          npm publish
